SteelHead/Azure-Cloud-Cookbooks/101-service-chain-gw-appliance/azuredeploy-logicapps-simple.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "projectName": {
            "type": "string",
            "defaultValue": "azu",
            "metadata": {
                "description": "Site name"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location to for the resources."
            }
        },
        "shFQDN" : {
            "type": "string",
            "defaultValue": "[concat(parameters('projectName'), 'sh','mycompany.com')]",
            "metadata": {
                "description": "FQDN of the SteelHead appliance"
            }            
        },
        "shApiUsername" : {
            "type": "securestring",
            "defaultValue": "api-user",
            "metadata": {
                "description": "User account to access the SteelHead appliance API"
            }            
        },
        "shApiPassword" : {
            "type": "securestring",
            "defaultValue": "api-password",
            "metadata": {
                "description": "Password of the user account to access the API of the the SteelHead appliance"
            }            
        },
        "workflowName": {
            "type": "string",
            "defaultValue": "[concat(parameters('projectName'), '-sh-availability-',resourceGroup().location)]",
            "metadata": {
                "description": "Name of the Workdflow"
            }            
        },
        "uriSetAccelerationRoutes" : {
            "type": "string",
            "defaultValue": "https://s24events.azure-automation.net/webhooks?token=12345678901",
            "metadata": {
                "description": "URI to trigger the action to Set Acceleration Routes. Ex. Runbook webhook."
            }       
        },
        "uriBypassAccelerationRoutes" : {
            "type": "string",
            "defaultValue": "https://s24events.azure-automation.net/webhooks?token=12345678902",
            "metadata": {
                "description": "URI to trigger the action to Bypass Acceleration Routes. Ex. Runbook webhook."
            }       
        },
        "integrationServiceEnvironmentId": {
            "type": "string",
            "metadata": {
                "description": "Id of the Integration Servie Environment"
            }
        },
        "recurrenceIntervalSeconds" :{
            "type": "int",
            "defaultValue": 10,
            "metadata": {
                "description": "Interval (seconds)"
            }
        }
    },
    "variables": {
        "uriShApiPing" : "[concat('https://',parameters('shFQDN'),'/api/common/1.0/ping')]"
    },
    "resources": [
        {
            "name": "[parameters('workflowName')]",
            "apiVersion": "2017-07-01",
            "type": "Microsoft.Logic/workflows",
            "location": "[parameters('location')]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Bypass_Acceleration_Routes": {
                            "inputs": {
                                "method": "POST",
                                "uri": "[parameters('uriBypassAccelerationRoutes')]"
                            },
                            "runAfter": {
                                "Get_SteelHead_status": [
                                    "Failed"
                                ]
                            },
                            "type": "Http"
                        },
                        "Get_SteelHead_status": {
                            "inputs": {
                                "authentication": {
                                    "password": "[parameters('shApiPassword')]",
                                    "type": "Basic",
                                    "username": "[parameters('shApiUsername')]"
                                },
                                "method": "GET",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "[variables('uriShApiPing')]"
                            },
                            "limit": {
                                "timeout": "PT1S"
                            },
                            "operationOptions": "DisableAsyncPattern",
                            "runAfter": {},
                            "type": "Http"
                        },
                        "Set_Acceleration_Routes": {
                            "inputs": {
                                "method": "POST",
                                "uri": "[parameters('uriSetAccelerationRoutes')]"
                            },
                            "runAfter": {
                                "Get_SteelHead_status": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        }
                    },
                    "contentVersion": "1.0.0.191120",
                    "outputs": {},
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "conditions": [],
                            "recurrence": {
                                "frequency": "Second",
                                "interval": "[parameters('recurrenceIntervalSeconds')]"
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "runs": 1
                                }
                            },
                            "type": "Recurrence"
                        }
                    }
                },
                "parameters": {},
                "integrationServiceEnvironment": {
                    "id": "[parameters('integrationServiceEnvironmentId')]"
                }
            }
        }
    ]
}